body{
  overflow-y: hidden; //Do not show scrollbars
  overflow-x: hidden; //Do not show scrollbars
}

._li {
  display: none;
}

div[aria-label="Ads"] {
  display: none;
}

.toggle_buttons_wrapper {
  margin-right: 5px;
  display: inline-block;
}

#toggle_buttons {
  display: inline-block;
  height: 24px;
  border: none;
  -webkit-box-shadow: none;
}

#toggle_buttons img {
  top: 4px;
  padding-right: 3px;
  position: relative;
}

.pop_out_chatlet_button {
  background-repeat: no-repeat;
  width: 25px;
}

.name_list {
  display: table-cell;
  float: none !important;   
}

.chat_area_parent {
  display: table;
  width: 100%;
}

.chat_area {
  float: none !important;
  display: table-cell;
  vertical-align: top;
}

.force_full_width {
  width: 100% !important;
}

#invisible_table_cell {
  display: table-cell;
  width: 0px;
}

.emoticons_panel {
  left: auto !important;
  right: 22px;
}

#pop_out_button {
  /*line-heigth:22px;
  margin-left: -1px;
  padding: 0px 3px 0px 3px;
  height: 22px;
  border-color: #cdced0 #c5c6c8 #b6b7b9;
  color: #4e5665;
  background: #f6f7f8 url(/rsrc.php/v2/y1/r/wL6VQj7Ab77.png) repeat-x;
  -webkit-box-shadow: none;*/
}

#pop_out_button i {
  vertical-align: middle;
  background-size: 100% 100%;
  background-position: 0% 0%;
}
